In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="white", font_scale=1.1)

from scripts import project_functions
df1 = project_functions.load_and_process('../data/raw/drug_deaths.csv')
df1.head()

,ID,Date,Age,Sex,Race,COD,Heroin,Cocaine,Fentanyl,Fentanyl_Analogue,...,Hydrocodone,Benzodiazepine,Methadone,Amphetamine,Tramadol,Morphine_NotHeroin,Hydromorphone,OpiateNOS,AnyOpioid,MannerofDeath
1,13-0102,2013-03-21,48,Male,Black,Cocaine Intoxication,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Accident
2,16-0165,2016-03-13,30,Female,White,Acute Heroin and Cocaine Intoxication,1,1,0,0,...,0,0,0,0,0,0,0,0,1,Accident
3,16-0208,2016-03-31,23,Male,White,Acute Fentanyl and Morphine Intoxication,1,0,1,0,...,0,0,0,0,0,0,0,0,1,Accident
4,13-0052,2013-02-13,22,Male,"Asian, Other",Fentanyl Intoxication,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Accident
5,14-0277,2014-06-29,23,Male,White,Heroin Intoxication,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Accident

In [3]:
df1.to_csv(r'../data/processed/exported_df.csv', index = False, header=True)